apiVersion: apps/v1
kind: Deployment
metadata:
  name: capstone
  namespace: default
  labels:
    app: capstone
spec:
  replicas: 5
  selector:
    matchLabels:
      app: capstone
  template:
    metadata:
      labels:
        app: capstone
    spec:
      nodeSelector:
        "beta.kubernetes.io/os": linux
      containers:
        - name: udacity-capstone-project
          image: rahulguptace/udacity-capstone-project
          ports:
            - name: http
              containerPort: 5000